@import '../../styles';

:host {
    padding: 16px;

    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    gap: 8px;

    align-items: center;
}

h1 {
    margin: 0;

    color: $color-text;
    font-family: $font-family;

    font-size: 20px;
}

button,
input[type="submit"],
label {
    @include button();

    font-size: 11px;

    line-height: 1rem;
}

button {
    height: max-content;

    align-self: center;
}

dialog {
    padding: 16px;

    border: 1px solid $color-border;

    div {
        height: 100%;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: max-content 1fr max-content;
        gap: 16px;

        button {
            width: max-content;
            justify-self: end;

            margin: 0;
        }

        pre {
            padding: 16px;
            margin: 0;

            border: 1px solid $color-border;

            overflow-y: auto;
        }
    }

    width: 50%;
    height: 70%;
}

.import {
    display: none;
}