@import '../styles';

:host {
    position: fixed;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-areas:
        "header     header      header"
        "collect    select      review";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr;
}

app-header {
    grid-area: header;

    border-bottom: 1px solid $color-border;
}

app-collect-section,
app-select-section {
    overflow: hidden;
    border-right: 1px solid $color-border;
}

app-collect-section {
    grid-area: collect;
}

app-select-section {
    grid-area: select;
}

app-review-section {
    grid-area: review;
}