$color-text: #333333;
$color-border: #c2c0c0;
$color-background: #ffffff;

* {
    box-sizing: border-box;
}

:host {
    font-family: 'Courier New', Courier, monospace;

    position: fixed;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-areas:
        "header     header      header"
        "collect    select      review";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr;

    button,
    input[type="submit"],
    label {
        padding: 4px 8px;

        border: 1px solid $color-border;

        background-color: white;
        box-shadow: none;

        font-family: 'Courier New', Courier, monospace;

        cursor: pointer;

        &:hover {
            background-color: $color-border;
        }
    }

    input[type="text"] {
        border: 1px solid $color-border;

        font-family: 'Courier New', Courier, monospace;
    }

    dialog {
        padding: 16px;

        border: 1px solid $color-border;

        div {
            height: 100%;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: max-content 1fr max-content;
            gap: 16px;

            button {
                width: max-content;
                justify-self: end;

                margin: 0;
            }

            pre {
                padding: 16px;
                margin: 0;

                border: 1px solid $color-border;

                overflow-y: auto;
            }
        }

        width: 50%;
        height: 70%;
    }

    .import {
        display: none;

        & + label {

            font-size: 13.33px;
            padding: 8px;
            height: max-content;
        }
    }

    header {
        grid-area: header;

        display: grid;
        grid-template-columns: 1fr repeat(2, max-content);
        gap: 16px;

        align-items: center;

        border-bottom: 1px solid $color-border;

        h1 {
            color: $color-text;
        }

        button {
            height: max-content;

            padding: 8px 12px;
            margin-right: 16px;

            align-self: center;
        }
    }

    > div {
        padding: 32px;

        border-right: 1px solid $color-border;

        overflow: hidden;

        h2 {
            color: $color-text;
        }

        ul {
            margin-top: 32px;

            overflow: auto;

            li {
                padding: 4px 0;

                &:last-of-type {
                    margin-bottom: 16px;
                }
            }
        }


        &.collect-section {
            grid-area: collect;

            form {
                display: grid;
                grid-template-columns: 1fr max-content;
                gap: 8px;
            }

            ul {
                height: 75%;

                li.completed span {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

        }

        &.select-section {
            grid-area: select;

            div {
                padding: 16px;

                display: grid;
                grid-template-areas:
                    "a a"
                    "b b"
                    "c d";
                gap: 8px;

                border: 2px solid $color-text;

                p {
                    grid-area: a;
                }

                h3 {
                    grid-area: b;

                    text-align: center;
                }

                button {
                    border: 1px solid $color-text;

                    &.schedule {
                        grid-area: c;
                    }

                    &.postpone {
                        grid-area: d;
                    }

                    &:hover {
                        background-color: $color-text;
                        color: $color-background;
                    }
                }
            }

            ul {
                height: 25%;
                overflow: hidden;

                opacity: 0.5;
            }
        }

        &.review-section {
            grid-area: review;

            ul {
                height: 75%;
            }

            button:last-of-type {
                margin-left: 4px;
            }
        }
    }
}