@import '../../styles';

:host {
    @include section();
}

form {
    padding: 16px;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 8px;

    input[type="text"] {
        padding: 8px 12px;

        border: 1px solid $color-border;

        font-family: $font-family;
    }

    input[type="submit"] {
        @include button();
    }
}

ul {
    max-height: 100%;
    overflow: auto;

    list-style: none;
    padding-left: 16px;

    li {
        margin-bottom: 16px;
        border: 1px solid $color-border;

        div {
            padding: 8px 12px;

            display: grid;
            grid-template-columns: 1fr max-content;
            gap: 8px;

            span {
                font-weight: bold;
            }

            button {
                @include button();

                height: max-content;
            }
        }

        &.completed span {
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}