@import '../../styles';

:host {
    @include section();
}

form {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 8px;

    input[type="text"] {
        border: 1px solid $color-border;

        font-family: $font-family;
    }

    input[type="submit"] {
        @include button();
    }
}

ul {
    height: 75%;
    overflow: auto;

    li {
        &.completed span {
            text-decoration: line-through;
            opacity: 0.5;
        }

        button {
            @include button();
        }
    }
}