$color-text: #333333;
$color-border: #c2c0c0;
$color-background: #ffffff;

$font-family: "Courier New", Courier, monospace;

@mixin button {
    padding: 12px 16px;

    border: 1px solid $color-border;

    background-color: white;
    box-shadow: none;

    font-family: $font-family;

    cursor: pointer;

    &:hover {
        background-color: $color-border;
    }

    @media screen and (min-width: 1200px) {
        padding: 4px 8px;
    }
}

@mixin section {
    display: grid;
    grid-template-columns: 100%;

    * {
        font-family: $font-family;
    }

    h2 {
        color: $color-text;

        display: none;
    }

    > h3 {
        align-self: center;
        text-align: center;

        margin: 0 16px;

        @media screen and (min-width: 1200px) {
            align-self: unset;
            text-align: unset;

            margin: 0;
        }
    }

    ul {
        margin: 0;
        padding-right: 16px;

        li {
            &:last-of-type {
                margin-bottom: 16px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            h2 {
                display: block;
            }

            ul {
                padding: unset;
                list-style: unset;

                margin-top: 32px;
                padding-left: 40px;
            }
        }

    }
}

body {
    margin: 0;
}