$color-text: #333333;
$color-border: #c2c0c0;
$color-background: #ffffff;

$font-family: "Courier New", Courier, monospace;

@mixin button {
    padding: 4px 8px;

    border: 1px solid $color-border;

    background-color: white;
    box-shadow: none;

    font-family: $font-family;

    cursor: pointer;

    &:hover {
        background-color: $color-border;
    }
}

@mixin section {
    display: grid;
    gap: 16px;

    * {
        font-family: $font-family;
    }

    h2 {
        color: $color-text;

        display: none;
    }

    ul {
        margin: 0;
        padding-right: 16px;

        li {
            padding: 8px 0;

            &:last-of-type {
                margin-bottom: 16px;
            }
        }
    }
}

body {
    margin: 0;
}