@import '../../styles';

:host {
    @include section();

    padding: 16px;
}

div {
    padding: 16px;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "a a"
        "b b"
        "c d";
    gap: 8px;

    border: 2px solid $color-text;

    p {
        grid-area: a;
        font-family: $font-family;
    }

    h3 {
        grid-area: b;
        font-family: $font-family;
        text-align: center;

        overflow: hidden;
    }

    button {
        @include button();

        &.schedule {
            grid-area: c;
        }

        &.postpone {
            grid-area: d;
        }

        &:hover {
            background-color: $color-text;
            color: $color-background;
        }
    }
}

ul {
    display: none;
    height: 25%;

    overflow: hidden;

    opacity: 0.5;
}